@charset "UTF8";

/*_____________________config. gerais______________________*/
*{
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    margin: 0px;
}

header > h1{ /*_____________________HEADER______________________*/
    background-color: #02A28F;
    color: white;
    height: 50px;
    padding-left: 10%;
    padding-top: 13px;
    margin-bottom: 4%;
    font-weight: 500;
}

img{
    border-radius: 10px;
}

main{
    margin-left: 10%;
    margin-right: 10%;
}

h2{ /*_____________________título lateral_____________________*/
    background-color: #02A28F;
    border-radius: 10px;
    height: 40px;
    color: white;
    font-size: 1.3em;
    font-weight: 600;
    padding-top: 10px;
    padding-left: 20px;
}


/*_____________________post principal______________________*/

.container{
    display: flex;
    gap: 15px;
    margin: 10px 0;
    width: 850px;
    
}

.side-container{
    max-width: 350px;
}

.side-container-title{
    margin-bottom: 15px;
}

.side-container > div{
    box-shadow: 3px 3px 10px rgba(128, 128, 128, 0.291);
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin: 10px 0;
    max-width: 350px;
    height: 96px      
}

.side-container > #ultima{
    margin-bottom: 0;
}

.side-container > div > img{
    max-width: 132px;
    max-height: 70px;
    margin: .8rem;
}



.side-container > div > p{
    color: #616161;
    font-size: 0.8rem
}


#main{
    background-image: url(images/header700.jpeg);
    border-radius: 15px;
    color: white;   
}

#post-principal{
    background-image: linear-gradient(to bottom, #66666600, black), url(/images/header700.jpeg);
    border-radius: 10px;
    color: white;
    width: 500px;
    
}

#post-principal > #textos-post-principal{
    padding-left: 15px;
    position: absolute;
    top: 55%;
}

#post-principal > #textos-post-principal > h1{
    font-size: 1.7rem;
}

span{
    margin: 0 10px 0 0;
}
span > h3{
    font-size: 0.8rem;
}

span > p{
    font-size: 0.8rem;
}
/*______________container2_______________*/

#container2{
    display: flex;
}


article{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

article > .foto-cards{
    width: ;
}






/*_______________FOOTER_______________*/
footer{
    background-color: #02A28F;
    height: 30px;
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding-top: 13px;
}