@charset "UTF8";

/*_____________________config. gerais______________________*/
*{
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    margin: 0px;   
}

header{
    background-color: #02A28F;
    color: white;
    font-weight: 300;
    padding-left: 10%;
    padding-top: 13px;
    margin-bottom: 2%;
    font-size: .9rem;
    height: 50px;  
}

main{
    padding-left: 10%;
    padding-right: 10%;
}

p{
    font-size: 1rem;
}

a{
    color: white;
    font-size: small;
    padding-right: 12px;
}

/* ITENS DO MAIN CONTANEIR _________________________*/


.main-container {
    display: grid;
    grid-template-columns: 2fr 1fr; /* Conteúdo principal maior que sidebar */
    gap: 2rem;
}

.primary-content {
    
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.primary-content > #imagem-container{
    color: white;
    padding-left: 20px;
    height: 100vh;
    border-radius: 10px;
    
}

.recent-posts > h2, .side-title {
    background-color: #02A28F;
    color: white;
    font-size: 1.3rem;
    font-weight: 400;
    padding-top: 12px;
    padding-left: 20px;
    border-radius: 10px;
    margin: 0px 0px 10px 0; 
}

.recent-posts > h2{
    height: 45px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 3px 10px rgba(128, 128, 128, 0.482);
    
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
}

.cards{
    box-shadow:3px 3px 13px rgba(128, 128, 128, 0.482);
    border-radius: 10px;
}

.fotocards{
    object-fit: cover;
    width: 100%;
    height: 191px;
    background-color: white;
    border-radius: 10px 10px 0 0;
}

.theme{
    color: #02A28F;
    padding: 10px 0 10px 0;
}

.side-title {
    height: 36px; 
    box-shadow: 0px 3px 10px rgba(128, 128, 128, 0.482);
}

.sidebar > section > div{
    background-color: white;
    box-shadow: 3px 3px 13px rgba(128, 128, 128, 0.482);
    display: flex;
    padding: 17px;
    border-radius: 10px; 
}

.popular-posts-foto{
    max-height: 70px;
    border-radius: 10px;
}

.div-side{
    margin-bottom: 15px;
}
.div-side > span > h3{
    font-size: .9rem;
    padding-bottom: 5px;
}
.div-side > span > p{
    font-size: 0.8rem;
    color: rgb(86, 85, 85);
}

.side{
    padding-left: 10px;
}

.p-cards, .theme, .h3-cards, .author, .data{
    padding-left: 10px;
    margin: 10px 0 10px 0;
}

.p-cards, .theme, .author, .data{
    font-size: .9rem;
}

.author, .data{
    color: gray;
}

.number{
    float: right;
}
#imagem-container{
    background-image: linear-gradient(to bottom, rgba(37, 37, 37, 0.099), black), url(/images/header.jpeg);
    background-size: cover;
    max-width: 744px;
    max-height: 396px;
}

#last-data{
    margin-bottom: 20px;
}

#imagem-container > .p1{ 
    position: relative;
    top: 70%;
}

#categories{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

ul{
    list-style: none;
    padding: 0;
}

li{
    padding-bottom: 10px;
    color: gray;
    
}

footer{
    background-color: #02A28F;
    color:white;
    padding: 10px;
    text-align: center;
    margin-top: 30px;
}

footer > p{
    font-size: .8rem;
}

/* PHONES */
@media (max-width: 576px) { 
    
   
}
